---
import Layout from '@layouts/MainLayout.astro'
import AboutHero from '@components/AboutHero.astro'
import HomeCTA from '@components/HomeCTA.astro'
import HomeAbout from '@components/HomeAbout.astro'
import ContactUs from '@components/ContactUs.astro'
import HomeCTA2 from '@components/HomeCTA2.astro'
---

<Layout title="About Us | True North Property Services Inc.">
	<main>
		<AboutHero />
		<HomeCTA />
		<HomeAbout />
		<ContactUs />
		<HomeCTA2 />
	</main>
</Layout>
