---
import Layout from '@layouts/MainLayout.astro'
import HomeCTA from '@components/HomeCTA.astro'
import ContactUs from '@components/ContactUs.astro'
import HomeCTA2 from '@components/HomeCTA2.astro'
---

<Layout title="Contact Us | True North Property Services Inc.">
	<main>
		<HomeCTA />
		<ContactUs />
		<HomeCTA2 />
	</main>
</Layout>
