---
import Layout from '@layouts/MainLayout.astro'
import HeroHome from '@components/HeroHome.astro'
import HomeCTA from '@components/HomeCTA.astro'
import HomeIntro from '@components/HomeIntro.astro'
import ContactUs from '@components/ContactUs.astro'
import HomeAbout from '@components/HomeAbout.astro'
import HomeReview from '@components/HomeReview.astro'
import HomeCTA2 from '@components/HomeCTA2.astro'
---

<Layout title="True North Property Services Inc.">
	<main>
		<HeroHome />
		<HomeCTA />
		<HomeIntro />
		<ContactUs />
		<HomeAbout />
		<HomeReview />
		<HomeCTA2 />
	</main>
</Layout>
