---
// Import the <Image /> component
import { Image } from 'astro:assets'
// Import a reference to the image itself
import myLogo from '@assets/trueNorth.png'
---

<section class="container mx-auto my-24 px-6 py-4">
	<!-- Left Side: image -->

	<div class="grid divide-accent lg:grid-cols-2 lg:gap-6 lg:divide-x lg:px-2">
		<div class="mb-4 mt-4 lg:mb-0">
			<p class="mb-4 text-center font-sans text-6xl font-extrabold text-secondary">Contact Us</p>
			<div>
				<form method="POST" action="https://api.web3forms.com/submit">
					<input type="hidden" name="access_key" value="a4e44ece-4a17-415f-84a1-73716b35b94a" />
					<input type="checkbox" name="botcheck" id="" style="display: none;" />
					<div class="grid md:grid-cols-2 md:gap-6">
						<div class="mb-6"></div>
					</div>

					<label class="text-lg font-bold uppercase text-primary" for="full name">Full Name</label>
					<input
						type="text"
						id="nameFull"
						name="nameFull"
						placeholder="Full Name"
						required=""
						class="form-control m-0 mb-2 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					/>

					<label class="text-lg font-bold uppercase text-primary" for="telephone">Telephone</label>
					<input
						type="tel"
						id="telephone"
						name="telephone"
						placeholder="Telephone"
						required=""
						class="form-control m-0 mb-2 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					/>

					<label class="text-lg font-bold uppercase text-primary" for="email">Email</label>
					<input
						type="email"
						id="email"
						name="email"
						placeholder="Email"
						required=""
						class="form-control m-0 mb-2 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					/>

					<label class="text-lg font-bold uppercase text-primary" for="message">Message</label>
					<textarea
						id="message"
						name="message"
						placeholder="Message"
						required=""
						rows="6"
						class="form-control m-0 mb-3 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none"
					></textarea>

					<button class="btn btn-secondary btn-wide mb-2" type="submit">Send</button>
				</form>
			</div>
		</div>

		<!--right side -->

		<div class="mt-4 text-white lg:mb-0">
			<div class="py-4">
				<div class="mb-4 flex justify-center p-4">
					<Image
						class="item-center"
						src={myLogo}
						format="webp"
						alt="This is the company logo"
						width={500}
						height={500}
					/>
				</div>
				<div class="mb-4 flex flex-auto px-3 text-white lg:py-4">
					<p>
						Don't let property maintenance stress burden you any longer - True North Property
						Services Inc. is your reliable solution in Toronto! Contact us now to schedule a
						consultation and experience the convenience of professional care for your property
						needs. Take the first step towards a worry-free property management by reaching out
						today - don't delay, enhance your peace of mind with True North!
					</p>
				</div>
				<div class="px-4">
					<p
						class="text-md mb-4 flex justify-center font-semibold uppercase text-neutral md:justify-start"
					>
						Contact
					</p>
					<p class="mb-4 flex items-center justify-center md:justify-start">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="mr-3 h-5 w-5"
						>
							<path
								d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
							></path>
							<path
								d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
							></path>
						</svg>
						16 Eugene St, Toronto, ON M6B 3Z4
					</p>
					<p class="mb-4 flex items-center justify-center md:justify-start">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="mr-3 h-5 w-5"
						>
							<path
								d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
							></path>
							<path
								d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
							></path>
						</svg>
						info@truenorthpropertyservices.ca
					</p>
					<p class="mb-4 flex items-center justify-center md:justify-start">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="mr-3 h-5 w-5"
						>
							<path
								fill-rule="evenodd"
								d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
								clip-rule="evenodd"></path>
						</svg>
						(647) 507-5014
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
