<section class="bg-gradient-to-r from-accent to-base-100">
    <div
        class="container flex flex-col items-center px-4 py-12 mx-auto text-center"
    >
        <p
            class="py-3 text-4xl font-bold tracking-tight text-primary xl:text-3xl"
        >
            True North Property Services Inc.
        </p>
        <h2 class="text-2xl font-bold tracking-tight text-gray-800 xl:text-3xl">
            Are you looking to build your dream home?
        </h2>

        <p class="block max-w-4xl mt-4 text-black">
            From renovations to new construction, we are your trusted partner for quality craftsmanship and exceptional service. Let's build something great together.
        </p>

        <div class="mt-6">
            <a
                role="button"
                href="tel:416-786-7091"
                class="mb-2 sm:mr-2 btn btn-wide btn-secondary">Call us</a
            >
            <a
                role="button"
                href="mailto:info@truenorthpropertyservices.ca"
                class="mb-2 btn btn-wide btn-secondary">Email Us</a
            >
        </div>
    </div>
</section>