<section class="bg-gradient-to-r from-accent to-base-100">
	<div class="container mx-auto flex flex-col items-center px-4 py-12 text-center">
		<p class="py-3 text-4xl font-bold tracking-tight text-primary xl:text-3xl">
			True North Property Services Inc.
		</p>
		<h2 class="text-2xl font-bold tracking-tight text-gray-800 xl:text-3xl">
			Your search ends here?
		</h2>

		<p class="mt-4 block max-w-4xl text-black">
			Don't let the stress of property management overwhelm you any longer! True North Property
			Services Inc. is here to simplify your life and bring peace of mind to your investment – the
			solution you've been searching for is right at your fingertips. Take charge today, secure your
			spot with us, and experience the worry-free management you deserve!
		</p>

		<div class="mt-6">
			<a role="button" href="tel:647-507-5014" class="btn btn-secondary btn-wide mb-2 sm:mr-2"
				>Call us</a
			>
			<a
				role="button"
				href="mailto:info@truenorthpropertyservices.ca"
				class="btn btn-secondary btn-wide mb-2">Email Us</a
			>
		</div>
	</div>
</section>
