---
// Import the <Image /> component
import { Image } from "astro:assets"

// Import a reference to the image itself
import imgOne from "@assets/flat-roof-repair-1.jpg"
import imgTwo from "@assets/flat-roof-repair-2.jpg"
import imgThree from "@assets/flat-roof-repair-3.jpg"
import imgFour from "@assets/flat-roof-repair-4.jpg"
---


<section class="my-10 mx-4 md:mx-10">
	<div class="grid grid-cols-2 gap-2">
		<div>
			<Image
                class="h-auto max-w-full rounded-lg"
                src={imgOne}
                alt="toronto roof repairs"
         
                format="webp"
              />
		</div>
		<div>
			<Image
                class="h-auto max-w-full rounded-lg"
                src={imgTwo}
                alt="toronto roof repairs"
               
                format="webp"
              />
		</div>
		<div>
            <Image
            class="h-auto max-w-full rounded-lg"
            src={imgThree}
            alt="toronto roof repairs"
          
            format="webp"
          />
		</div>
		<Image
                class="h-auto max-w-full rounded-lg"
                src={imgFour}
                alt="toronto roof repairs"
               
                format="webp"
              />
		</div>
	</div>
</section>
