---
// Import the <Image /> component
import { Image } from 'astro:assets'
// Import a reference to the image itself
import myLogo from '@assets/trueNorth.png'
---

<div class="navbar sticky top-0 z-[1] bg-primary">
	<div class="navbar-start">
		<div class="dropdown">
			<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h8m-8 6h16"></path></svg
				>
			</div>
			<ul
				tabindex="0"
				class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow"
			>
				<li><a>Home</a></li>
				<li>
					<a>Services</a>
					<ul class="p-2">
						<li><a href="https://innovative-roofing.com/">Roofing</a></li>
						<li><a href="https://theprofessionalswindowcleaning.com/">Window Cleaning</a></li>
						<li><a href="https://theprofessionalswindowcleaning.com/">Eavestrough Cleaning</a></li>
					</ul>
				</li>
				<li><a>About Us</a></li>
			</ul>
		</div>
		<a href="/">
			<Image
				class="item-center rounded-full"
				src={myLogo}
				format="avif"
				width="200"
				height="200"
				alt="This is the company logo"
			/>
		</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal px-1 text-xl font-bold text-neutral">
			<li><a href="/">Home</a></li>
			<li>
				<details>
					<summary>Services</summary>
					<ul class="p-1">
						<li><a href="https://innovative-roofing.com/">Roofing</a></li>
						<li><a href="https://theprofessionalswindowcleaning.com/">Window Cleaning</a></li>
						<li><a href="https://theprofessionalswindowcleaning.com/">Eavestrough Cleaning</a></li>
					</ul>
				</details>
			</li>
			<li><a href="about-us">About Us</a></li>
		</ul>
	</div>
	<div class="navbar-end">
		<a href="tel:647-507-5014" class="btn">Call Us</a>
	</div>
</div>
